.notifications {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: fixed;
  bottom: 110px;
  right: 10px;

  div.alert {
    display: flex;
    justify-content: center;
    max-width: 50vw;
  }
}