#carouselCatchPhrase {
  height: calc(100vh - 100px);

  img {
    object-fit: cover;
    object-position: center;
  }
}

#containerTricks {
  min-height: calc(100vh - 100px);
  margin-bottom: 100px;

  @media (min-width: 576px) {
    min-height: calc(100vh - 100px - 60px);
    margin-bottom: 0;
  }
}