<div id="modalInfoLinkMovie" class="position-fixed d-none justify-content-center top-0 start-0 overflow-hidden vh-100 vw-100 bg-dark bg-opacity-75">
    <div class="d-flex h-100 flex-column justify-content-center">
        <div class="d-flex flex-column bg-white rounded shadow p-4 m-3">
            <p class="text-center fw-bold">Exemples de liens pour les plateformes de Youtube et Daylimotion :</p>
            <div class="d-flex flex-column align-items-center gap-3">
                <div class="d-flex flex-column w-100 align-items-center">
                    <p class="fw-bold text-decoration-underline">Youtube</p>
                    <ul class="d-flex flex-column align-self-start flex-wrap gap-2 p-0">
                        <li>1. Pour l'url suivant :
                        </li>
                        <li>
                            https://www.youtube.com/watch?v= <span class="text-danger fw-bold">rBVljdsSYTk</span>
                        </li>
                        <li>
                            2. Le lien à saisir sera :
                        </li>
                        <li>
                            https://www.youtube.com/embed/ <span class="text-danger fw-bold">rBVljdsSYTk</span>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-column w-100 align-items-center">
                    <p class="fw-bold text-decoration-underline">Daylimotion</p>
                    <ul class="d-flex flex-column align-self-start flex-wrap gap-2 p-0">
                        <li>1. Pour l'url suivant :
                        </li>
                        <li>
                            https://www.dailymotion.com/video/ <span class="text-danger fw-bold">x3rq5cj</span>
                        </li>
                        <li>
                            2. Le lien à saisir sera :
                        </li>
                        <li>
                            https://www.dailymotion.com/embed/video/ <span class="text-danger fw-bold">x3rq5cj</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button id="backToModalForm" type="button" class="btn btn-outline-danger">Retour</button>
            </div>
        </div>
    </div>
</div>
